<div class="update-product">
    <h1>Update  Product </h1>
    <p class="p_message">{{productMessage}}</p>
    <form #addProduct="ngForm" (ngSubmit)="submit(addProduct.value)" class="common-form">
    <input class="form-input" type="text" ngModel="{{productData?.name}}" name="name" placeholder="Enter product name">
    <input class="form-input" type="text" ngModel="{{productData?.price}}" name="price" placeholder="Enter product price">
    <input class="form-input" type="text" ngModel="{{productData?.color}}" name="color" placeholder="Enter product color">
    <input class="form-input" type="text" ngModel="{{productData?.category}}" name="category" placeholder="Enter product category">
    <input class="form-input" type="text" ngModel="{{productData?.description}}" name="description" placeholder="Eneter product description">
    <input class="form-input" type="text" ngModel="{{productData?.image}}" name="image" placeholder="Eneter product image url">

    <button class="form-button">Update Product</button>
    </form>
</div>

